@import "FileDrop.css";
:root{
    --green : darkgreen;
    --grey : #C0C0C0;
}
.main-container{
    display: grid;
    grid-template-areas: 
    'main-image main-image'
    'button button' ;
    grid-gap: 2rem;
    place-items: center;
}
.main-image{
    width: 85%;
    grid-area: main-image;
}
.button-container{
    grid-area: button;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    margin: 1rem 2rem;
}
.animated-border-button.success{
    background-color: var(--green);
}
.animated-border-button::before.success{
  border-top: 2px solid var(--green);
}
.animated-border-button::after.success{
  border-bottom: 2px solid var(--green);
}