@import "FileDrop.css";
:root{
    --green : darkgreen;
    --grey : #C0C0C0;
}
.main-container{
    display: grid;
    grid-template-areas: 
    'main-image'
    'button' ;
    grid-gap: 2rem;
    place-items: center;
}
.image-container{
    width: 85%;
}
.main-image{
    width: 85%;
    grid-area: main-image;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.button-container{
    grid-area: button;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
button{
    margin: 1rem 2rem;
}