@import "FileDrop.css";
h2{
    color: #155263;
}
.underline-small{
    width:200px;
    height: 5px;
  background: #ff6f3c;
}
.filter-name{
    color:#155263;
    font-weight: 700;
    font-size: 1.2rem;
}
.sug-grid{
    margin:1rem;
    margin-top: 4.5rem !important; 
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 4rem;
    margin: 1rem;
    grid-column-gap: 5rem;
}

.rec-image{
    max-width: 100%;
}
@media (max-width:500px) {
    .image-grid{
    grid-template-columns: 1fr;
    }
}
